<div class="container">
	<h2>Estoque Mangás</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, dolores asperiores itaque maiores laborum porro quam. Rem eveniet, quos alias, ex praesentium, fugiat, fuga dolores sequi a ipsa magni at.</p>
</div>

<div class="container">
	<div class="loginBox">
		<form action="" method="POST">
		<legend><p>Efetue o Login.</p></legend>
		<label for="Email">
			<input type="email" name="Email" placeholder="Insira o seu e-mail" required>
		</label>
		<label for="Senha">
			<input type="password" name="Senha" placeholder="Insira sua Senha" maxlength="32" required>
		</label>
		<button type="submit">Efetuar Login</button>
	</form>
	<a href="">Esqueci minha senha.</a>
	</div>		
</div>