<div class="container">
	<h2>Estoque Mangás</h2>
	<p>Esqueceu sua senha? Digite o seu e-mail ao lado.</p>
</div>

<div class="container">
	<div class="redefinirSenhaBox">
		<form action="" method="POST">
		<legend><p>Formulário de redefinição de senha.</p></legend>
		<label for="email">
			<input type="email" name="email" placeholder="Insira o seu e-mail" required>
		</label>
		<label for="novaSenha">
			<input type="hidden" name="novaSenha" value="00000000">
		</label>
		<button type="submit">Enviar</button>
	</form>
	</div>		
</div>